{%extends 'base.html'%}
{%load bootstrap4%}

{%block content%}
<img class="d-block w-100" src="{{details.photo.cdn_url}}" alt="Third slide" height="400">
<h1 class="text-center">{{details.name}}</h1>
<p class="text-center">{{details.description}}</p>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">411</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Business</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Relevant Contact</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <button data-toggle="modal" data-target="#postForm" class="btn btn-outline-success mt-2" type="button" name="button">Add a 411?</button>
    <!-- post upload modal form -->
    <div class="modal fade" id="postForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Post an image</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-group" action="{%url 'hood_details' details.id%}" method="post">
            {% csrf_token %}
            {%bootstrap_form create_post%}
            <input class="btn btn-outline-success" type="submit" name="" value="Upload">
          </form>
        </div>
        </div>
      </div>
    </div>
    <!-- fin -->
{%if posts%}
{%for post in posts%}
<h4>{{post.user.username}}</h4>
<p>{{post.post}}</p>
{%endfor%}
{%endif%}

  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <button data-toggle="modal" data-target="#businessForm" class="btn btn-outline-success mt-2" type="button" name="button">Add a Business?</button>
<!-- business upload modal form -->
    <div class="modal fade" id="businessForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Post an image</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-group" action="{%url 'hood_details' details.id%}" method="post">
            {% csrf_token %}
            {%bootstrap_form biz_post%}
            <input class="btn btn-outline-success" type="submit" name="" value="Upload">
          </form>
        </div>
        </div>
      </div>
    </div>
<!-- fin -->
{%for business in business%}
<h4>{{business.name}}</h4>
{%endfor%}

  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

  </div>
</div>

{%endblock%}
