{%extends 'base.html'%}
{%load bootstrap4%}
{%block content%}
<!-- My Hood Modals -->
<div class="modal fade" id="hoodForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Create a Community.</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form-group" action="{% url 'profile' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form new_hood%}
        <input class="btn btn-outline-success" type="submit" name="" value="Create">
      </form>
    </div>
  </div>
</div>
</div>
<!-- fin -->
<button data-toggle="modal" data-target="#hoodForm" class="btn btn-primary mt-2" type="button" name="button">Create a Commuity</button>
<hr>
<h4 class="text-center"><u>Current Hood(s) available.</u></h4>
{%for hood in hoods%}
<div class="container-fluid">
  <div class="row">
    <div class="card m-4" style="width: 18rem;">
      <a href="{%url 'hood_details' hood.id%}"><img class="card-img-top" src="{{hood.photo.cdn_url}}" alt="Card image cap"></a>
      <div class="card-body">
        <h5 class="card-title">{{hood.name}}</h5>
        <p class="card-text"><b>{{hood.location}}</b>
          <span>
            <img src="https://cdn3.iconfinder.com/data/icons/seo-and-digital-marketing-material-glyphs-2/20/64-512.png" alt="location" height="20" width="20">
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
{%endfor%}
{%endblock%}
